<div>
    <h1> Selecciona tus productos: {{name}} </h1>
            <p>id: {{id}}</p>
            <p>title: {{title}}</p>
            <p>description:{{Desctiption}}</p>
            <p>code:{{code}}</p>
            <p>price:{{price}}</p>
            <p>status: {{status}}</p>
            <p>stock: {{stock}}</p>
            <p>category: {{category}}</p>
            <p>image:{{image}}</p>
      
    
</div>